@model WebApplication1.Models.Rating

@{
    ViewData["Title"] = "Create";
}
<link href="~/css/else.css" rel="stylesheet" type="text/css" />
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
<h1>Create <img src="~/images/logo2.png" alt="Logo Photo" id = "logo" /></h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
 <div> Rating:</div><div class="rate">
    <input  type="radio" id="star5" name="@Html.NameFor(model => model.Score)" value="5" required/>
    <label  for="star5" title="text">5 stars</label>
    <input  type="radio" id="star4" name="@Html.NameFor(model => model.Score)" value="4" required />
    <label  for="star4" title="text">4 stars</label>
    <input  type="radio" id="star3" name="@Html.NameFor(model => model.Score)" value="3" required/>
    <label  for="star3" title="text">3 stars</label>
    <input  type="radio" id="star2" name="@Html.NameFor(model => model.Score)" value="2" required/>
    <label  for="star2" title="text">2 stars</label>
    <input  type="radio" id="star1"name="@Html.NameFor(model => model.Score)" value="1" required/>
    <label  for="star1" title="text">1 star</label>
  </div>
            </div>

            <div class="form-group" id = "reviewername">
                <input asp-for="ReviewerName" class="form-control" placeholder="Reviewer Name"/>
                <span asp-validation-for="ReviewerName" class="text-danger"></span>
            </div>
            
            <div class="form-group" id = "reviewetext">
                <input asp-for="ReviewText" class="form-control" placeholder="Review Text"/>
                <span asp-validation-for="ReviewText" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
