@model IEnumerable<WebApplication1.Models.Rating>

@{
    ViewData["Title"] = "Index";
}

<link href="~/css/Index.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
@{
    int sum = 0;
    float average = 0;
    int count = 0;
    foreach (var item in Model)
    {
        sum += item.Score;
        count++;
    }
    average = (float)sum / (float)count;
}
<div id = "rate">Ratings <img src="images/logo_.png" alt="Logo Photo" id = "logo" /> </div>
  
<div id = "average"><p> Average Rate: @{
                    if(average > 0 && average < 0.5) {
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    }
                     if(average >= 0.5 && average < 1) {
                    <span class="fa fa-star-half checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    }
                     if(average >= 1 && average < 1.5) {
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    }
                     if(average >= 1.5 && average < 2) {
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star-half checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    }
                      if(average >= 2 && average < 2.5) {
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    }
                      if(average >= 2.5 && average < 3) {
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star-half checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    }
                     if(average >= 3 && average < 3.5) {
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    }
                     if(average >= 3.5 && average < 4) {
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star-half checked"></span>
                    <span class="fa fa-star"></span>
                    }
                     if(average >= 4 && average < 4.5) {
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    }
                     if(average >= 4.5 && average < 5) {
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star-half checked"></span>
                    }
                    if(average == 5) {
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    }
                    }
                    @average</p></div>

<form asp-action = "Index">
    <input name = "query" id = "search" placeholder="ReviewerName:" />
    <input type = "submit" id = "searchbutton" value = "Search"/>
</form>

<p id = "newrate">
    <a asp-action="Create">Wanna leave your rate for our Marak Teimani? Just Click here!</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReviewerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewerName)
            </td>
            <td>
               @{
                    if(item.Score == 0) {
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    }
                     if(item.Score == 1) {
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    }
                     if(item.Score == 2) {
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    }
                     if(item.Score == 3) {
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    }
                    if(item.Score == 4) {
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    }
                     if(item.Score == 5) {
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    }
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID"><button type="button" class="btn btn-secondary">Edit</button></a>
                <a asp-action="Details" asp-route-id="@item.ID"><button type="button" class="btn btn-info">Details</button></a>
                <a asp-action="Delete" asp-route-id="@item.ID"><button type="button" class="btn btn-danger">Delete</button> </a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
<script src="~/js/search.js"></script>
}