@model IEnumerable<WebApplication1.Models.Rating>

@{
    ViewData["Title"] = "Index";
}

<link href="~/css/Index.css" rel="stylesheet" type="text/css" />

@{
    int sum = 0;
    float average = 0;
    int count = 0;
    foreach (var item in Model)
    {
        sum += item.Score;
        count++;
    }
    average = (float)sum / (float)count;
}
<h1>Ratings <img src="images/logo_.png" alt="Logo Photo" id = "logo" /> </h1>
  
<div id = "average"><p> Average Rate: @average</p></div>

<p>
    <a asp-action="Create">Wanna leave your rate for our Marak Teimani? Just Click here!</a>
</p>


<form asp-action = "Index">
    <input name = "query" id = "search"/>
    <input type = "submit" value = "Search"/>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReviewerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
<script src="~/js/search.js"></script>
}